<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="./HelloWorld.js"></script>
    <title>TESTING WEB COMPONENTS</title>
  </head>
  <body>
    <hello-world-component></hello-world-component>

    <div id="example">This will use the CSS background</div>
    <button id="button">Not A Hotdog</button>

    <!-- template example -->
    <div id="template-example">
      <template id="template-tag">
        <style>
          button {
            color: white;
            background-color: #666;
            padding: 5px;
          }
        </style>
        <button>Template</button>
      </template>
    </div>

    <script src="./ShadowRootExample.js"></script>
    <script src="./Template.js"></script>
  </body>
</html>
